<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('includes/head') %>
    <link rel="stylesheet" href="style.css">

</head>
<body>
    <header>
  <div class="title-logo">
      <a href=""><img src="/images/logo2.jpg" alt=""></a>
     <a href=""> <h1 id="title">First-Class Furniture</h1></a>
  </div>
            
       
        <nav id="navbar">
            <ul>
                <li><a href="">Home</a> </li>
                <li>
                   <a href="">Services</a> </li>
                   <li><a href="/review">Reviews</a> </li>
                   <li><a href="">About Us</a> </li>
                   <li><a href="">Contact Us</a> </li>
                   <li><a href="/feedback"> Share Your Feedback</a> </li>
            </ul>
        </nav>
    </header>
    <main class="items">
<div class="furniture table"> <a href=""><img src="/images/Table/table3.png" alt=""></a>
    <a href="">Table</a>
</div>
<div class="furniture chair"><a href=""><img src="/images/Chair/chair2.webp" alt=""></a>
<a href="">Chair</a></div>
<div class="furniture sofa"><a href=""><img src="/images/Sofa/sofa2.jpg" alt=""></a>
<a href="">Sofa</a></div>
<div class="furniture bed"><a href=""><img src="" alt=""><img src="/images/Bed/bed1.png" alt=""></a>
<a href="">Bed</a></div>
<div class="furniture cupboard"><a href=""><img src="/images/Cupboard/cupboard2.jpg" alt=""></a>
<a href="">Cupboard</a></div>
<div class="furniture door"><a href=""><img src="/images/Door/door2.jpg" alt=""></a>
<a href="">Door</a></div>
    </main>
    <footer></footer>
</body>
</html>