*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: aliceblue;
}

.confirm {
    display: flex;
    background-color: antiquewhite;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgb(60,50,60);
    height: 200px;
    margin: 50px;
}