<li class="review">
    <article>
        <h2 id="username">Customer : <%= detail.customerName %></h2>
        <p id="age">Age : <%= detail.customerAge %></p>
        <p>Item Purchased : <%= detail.item %> </p>
     <div class="message">
         <p id="userreview">Comments : <%= detail.customerFeedback %></p>
     </div>

    </article>
</li>